8_Node-red-flow/node-red-flow.txt
[{"id":"94c50036.0bc02","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fcc25665.e8cca8","type":"mqtt out","z":"94c50036.0bc02","name":"LED Ein/Aus","topic":"led","qos":"1","retain":"","broker":"ad261ee1.51785","x":939.0000076293945,"y":98.00000095367432,"wires":[]},{"id":"dffb25fa.fff4b8","type":"mqtt in","z":"94c50036.0bc02","name":"Sensor data ESP32","topic":"temp_humi_pres","qos":"2","datatype":"auto","broker":"ad261ee1.51785","x":105,"y":276.00000381469727,"wires":[["c202e0ed.4da5b","36bd9a63.f85ef6"]]},{"id":"fdcee05.e21102","type":"ui_chart","z":"94c50036.0bc02","name":"Temperature Indoor","group":"48291851.4413f8","order":2,"width":"5","height":"5","label":"Temperature Indoor","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":933.0000152587891,"y":236.00002670288086,"wires":[[]]},{"id":"c202e0ed.4da5b","type":"split","z":"94c50036.0bc02","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":316.7000045776367,"y":276.0000286102295,"wires":[["4b34c065.9404f"]]},{"id":"4b34c065.9404f","type":"switch","z":"94c50036.0bc02","name":"Separate Temp Press Humy","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"C","vt":"str"},{"t":"cont","v":"H","vt":"str"},{"t":"cont","v":"P","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":514.7000045776367,"y":276.00002670288086,"wires":[["21a5973c.ce62b8"],["65c613f.5395eec"],["5a51b4ab.070f1c"]]},{"id":"5f44a54b.edba4c","type":"ui_gauge","z":"94c50036.0bc02","name":"Humidity Indoor","group":"48291851.4413f8","order":4,"width":"5","height":"5","gtype":"gage","title":"Humidity Indoor","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":942.7000122070312,"y":275.800048828125,"wires":[]},{"id":"e770d800.2327b8","type":"ui_button","z":"94c50036.0bc02","name":"","group":"48291851.4413f8","order":7,"width":"5","height":"1","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"led","x":71.69999694824219,"y":94.8000020980835,"wires":[["fcc25665.e8cca8"]]},{"id":"c5a6679b.1f9a88","type":"ui_button","z":"94c50036.0bc02","name":"","group":"48291851.4413f8","order":8,"width":"5","height":"1","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"led","x":70.69999694824219,"y":128.80000257492065,"wires":[["fcc25665.e8cca8"]]},{"id":"dc7846ac.b13e18","type":"inject","z":"94c50036.0bc02","name":"Update","topic":"Weather data","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":91.30000305175781,"y":421.0000047683716,"wires":[["870703fd.0389b","9fba3fee.c3383"]]},{"id":"870703fd.0389b","type":"http request","z":"94c50036.0bc02","name":"OpenWeatherMap.org","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Biel&APPID=e8a55c4c5a1b8b4759853c23fe6ade60&units=metric","tls":"","persist":false,"proxy":"","authType":"basic","x":329.6999969482422,"y":421.0000047683716,"wires":[["1e06c088.de7c1f","12d5459.15d31ba","c172b156.c593","d47793e4.1844a"]]},{"id":"1e06c088.de7c1f","type":"change","z":"94c50036.0bc02","name":"OpenWeatherMap Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620.7000045776367,"y":420.8000297546387,"wires":[["605f32d4.49032c"]]},{"id":"12d5459.15d31ba","type":"change","z":"94c50036.0bc02","name":"OpenWeatherMap Pressure ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":626.7000122070312,"y":501.8000068664551,"wires":[[]]},{"id":"c172b156.c593","type":"change","z":"94c50036.0bc02","name":"OpenWeatherMap Humidity ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":629,"y":463.0000057220459,"wires":[["bb2dfef6.087e1"]]},{"id":"21a5973c.ce62b8","type":"change","z":"94c50036.0bc02","name":"delete unit","rules":[{"t":"change","p":"payload","pt":"msg","from":"C","fromt":"str","to":"","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":730.7000122070312,"y":236.00000381469727,"wires":[["fdcee05.e21102"]]},{"id":"65c613f.5395eec","type":"change","z":"94c50036.0bc02","name":"delete unit","rules":[{"t":"change","p":"payload","pt":"msg","from":"H","fromt":"str","to":"","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":731.0000076293945,"y":276.00000381469727,"wires":[["5f44a54b.edba4c"]]},{"id":"5a51b4ab.070f1c","type":"change","z":"94c50036.0bc02","name":"delete unit","rules":[{"t":"change","p":"payload","pt":"msg","from":"P","fromt":"str","to":"","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":730.0000076293945,"y":319.0000047683716,"wires":[["4dbbbe3b.c9059"]]},{"id":"605f32d4.49032c","type":"ui_chart","z":"94c50036.0bc02","name":"Temperature Outdoor","group":"48291851.4413f8","order":3,"width":"5","height":"5","label":"Temperature Outdoor","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":932.0000114440918,"y":421.0000057220459,"wires":[[]]},{"id":"bb2dfef6.087e1","type":"ui_gauge","z":"94c50036.0bc02","name":"Humidity Outdoor","group":"48291851.4413f8","order":5,"width":"5","height":"5","gtype":"gage","title":"Humidity Outdoor","label":"mPA","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":925.0000114440918,"y":463.0000057220459,"wires":[]},{"id":"9fba3fee.c3383","type":"ui_template","z":"94c50036.0bc02","group":"4630e636.6771c8","name":"Weather Map Org","order":1,"width":"6","height":"6","format":"<div id=\"openweathermap-widget-15\"></div>\n<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '2661513',appid: 'e8a55c4c5a1b8b4759853c23fe6ade60',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = \"utf-8\";script.src = \"//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js\";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":315,"y":515,"wires":[[]]},{"id":"4dbbbe3b.c9059","type":"ui_text","z":"94c50036.0bc02","group":"48291851.4413f8","order":6,"width":"10","height":"1","name":"Druck","label":"Druck","format":"{{msg.payload}}","layout":"row-center","x":972,"y":319,"wires":[]},{"id":"36bd9a63.f85ef6","type":"debug","z":"94c50036.0bc02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":311,"y":343,"wires":[]},{"id":"d47793e4.1844a","type":"debug","z":"94c50036.0bc02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":633,"y":592,"wires":[]},{"id":"ad261ee1.51785","type":"mqtt-broker","z":"","name":"MQTT_BME","broker":"m24.cloudmqtt.com","port":"14362","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"true","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"48291851.4413f8","type":"ui_group","z":"","name":"MQTT Client ESP32 BMP280 Sensor","tab":"305aa46c.cb7f7c","order":1,"disp":true,"width":"10","collapse":false},{"id":"4630e636.6771c8","type":"ui_group","z":"","name":"OpenWeatherMap","tab":"305aa46c.cb7f7c","disp":true,"width":"6","collapse":false},{"id":"305aa46c.cb7f7c","type":"ui_tab","z":"94c50036.0bc02","name":"Node-RED","icon":"dashboard","disabled":false,"hidden":false}]